# Python & Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
db.sqlite3

# Environment & Virtual Environments
.env
.venv
env/
venv/
ENV/

# Media & Generated PDFs
media/
*.pdf

# IDE & OS Files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

*.docx

